*.log
*.pot
*.pyc
.env
.env.staging
__pycache__/
local_settings.py
db.sqlite3
media


frontend/node_modules
node_modules

# On our project configuration, the output of the collectstatic will be stored in 
# staticfiles directory. We are ignoring files inside staticfiles but we'll track this # folder itself so that collectstatic can work on Heroku
staticfiles/*